name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches:
      - "*"

jobs:
  golangci:
    name: Lint Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          args: -v